@import 'css/article/print.css';

@page {
    @top-left {
        content: "Consejo orientador";
	}
    @top-right {
        content: "Manual para tutores";
	}

    @bottom-center {
        /*content: "Página " counter(page) " de " counter(pages);*/
        content: counter(page);
    }
}



code {
	color: red;
	background-color: #DDF;
	border: 1px solid #F55;
}
